<div class="row" >
    <div class="col-4">
        <div class="card">

            <img src="{{member.photoUrl || './assets/user.png'}}" class="card-img-top img-thumbnail"
            alt="{{member.knownAs}}">
            <div class="card-body">
                <div class="mb-2" *ngIf="(presenceService.onlineUsers$ |async)?.includes(member.userName)">
                    <i class="class fa fa-user-circle text-success">
                    </i>
                    Online Now
                     
                </div>
                <strong>Name:</strong>
                <p>{{member.userName}}</p>
            </div>
            <div class="card-body">
                <strong>Location:</strong>
                <p>{{member.city}}</p>
            </div>
            <div class="card-body">
                <strong>Age:</strong>
                <p>{{member.age}}</p>
            </div>
            <div class="card-body">
                <strong>lastActive:</strong>
                <p>{{member.lastActive| timeago}}</p>
            </div>
            <div class="card-body">
                <strong>started:</strong>
                <p>{{member.created | date:'dd MMM YYYY'}}</p>
            </div>
            <div class="card-footer">
                    <div class="btn-group d-flex">
                        <button class="btn btn-primary">like</button>
                        <button (click)="selectTab('Messages')" class="btn btn-success">Message</button>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset" #memberTabs>
            <tab heading="About-{{member.knownAs}}" (selectTab)="onTabActivated($event)">
                <h4>
                    Description
                </h4>
                <p>{{member.introduction}}</p>
                <h4>Looking for</h4>
                <p>{{member.lookingFor}}</p>
            </tab>
            <tab heading="Interests" (selectTab)="onTabActivated($event)">
                <h4>Interests</h4><p>{{member.interests}}</p>
            </tab>
       
             <tab heading="Photos" #photoTab="tab"  (selectTab)="onTabActivated($event)">
                <!-- <h4>Interests</h4><p>photos will go there</p> -->
                <gallery *ngIf="photoTab.active" [items]="images" class="gallery"></gallery>
            </tab>
            <tab heading="Messages" (selectTab)="onTabActivated($event)">
                <app-member-messages [username]="member.userName" ></app-member-messages>
                <!-- <app-member-messages [username]="member.userName" [messages]="messages"></app-member-messages> -->
                <!-- <app-member-messages [username]="member.username></app-member-messages> -->
                <!-- <h4>Interests</h4><p>Messages will go here</p> -->
            </tab>

        </tabset>
    </div>
</div>