.card{
    border: none;
}
.chat{
    list-style: none;
    margin: 0;
    padding: 0;
}
.chat li{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #B3A9A9;
}
.rounded-circle{
    max-height: 30px;
}
.chat-bubble {
  max-width: 60%;
  word-wrap: break-word;
}
.chat-container {
  max-height: 600px;
  border-radius: 1rem;
  overflow: hidden;
}

.chat-body {
  height: 500px;
  overflow-y: auto;
  background: #f8f9fa;
}

.chat-bubble {
  max-width: 70%;
  word-wrap: break-word;
  border-radius: 20px;
}

.sent-msg {
  background-color: #aeadac;
  color: white;
  border-top-right-radius: 0;
}

.received-msg {
  background-color: #e9ecef;
  color: black;
  border-top-left-radius: 0;
}

.typing-status {
  font-style: italic;
}
